$purple_1: #7200ff;
$purple_2: #9900ff;
$purple_3: #9900ff81;
$purple_4: #311467;

$purple_10: #3d00aeab; // en uso
$black_11: #31146700;

$blue_1: #43a3fc;

$green_0: #00FF00;

$black_1: #0000002f;
$black_2: #31146760;
$black_3: #39237500;
$black_4: #191919;

$red_0: #ff0000;