.shadow__blue {
    box-shadow: 0px 0px 20px 0px #46a2e9;
}

.shadow__purple {
    box-shadow: 0px 0px 10px 0px #7200ff;
}

.box__shadow--purple {
    // box-shadow: 45px 45px 250px #4f17b8;
    box-shadow: 45px 45px 250px #3d00ae;
    
}