.page__width {
    width: 100%;
    max-width: 1080px;
}

.stack__card--img {
    width: 50px;
}

.navbar__shared {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #5f00ff;
    box-shadow: 0px 0px 50px 0px #2900ae;
    background-color: #1a1a1a;

}

.footer__shared {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #6316ff;
    box-shadow: 0px 0px 25px 0px #6316ff;
    background-color: #1a1a1a;
}