p,
li {
  margin: 0.25em;
  color: #dadada;
}

.text__blue {
  // color: #5900ff;
  color: #6c5fff;
  font-weight: bold;
}

.sample__view-section {
  // size page
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 60vh;
  overflow-y: auto;
}

.sample__body-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sample__each {
  // card
  display: flex;
  flex-direction: column;
  align-self: center;
  // border-bottom: 2px solid #5900ffc9;
  // border-right: 2px solid #5900ffc9;
  // box-shadow: 0px 15px 5px #5900ff35;
  padding: 1em;
  width: 90%;
}

.sample__title {
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}

.sample__each-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sample__doc-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.sample__doc-description {
  display: flex;
  flex-direction: column;
}

.sample__doc-each {
  width: 300px;
  height: 280px;
}

@media (width > 768px) {

  .sample__each {
    padding: 3em 2em;
  }

  .sample__each-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
  }

  .sample__doc-description {
    width: 40%;
    align-self: anchor-center;
    gap: 0.25em;
  }

  .sample__doc-each {
    width: 480px;
    height: 320px;
  }
}