p,
li {
  margin: 0.25em;
  color: #dadada;
}

.text__blue {
  color: #5900ff;
  font-weight: bold;
}

.sample__view-section {
  // size page
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 60vh;
  overflow-y: auto;
}

.sample__body-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.sample__each {
  // background-color: red;
  // card
  display: flex;
  flex-direction: column;
  align-self: center;
  border-bottom: 2px solid #5900ffc9;
  border-right: 2px solid #5900ffc9;
  // border-radius: 1em;
  box-shadow: 5px 5px 10px #5900ff67;
  padding: 1em;
  // background: radial-gradient(circle, #593dff 0%, #040114 100%);
  // filter: drop-shadow(0px 0px 140px #4b32c6);
  width: 90%;
}

.sample__title {
  font-weight: bolder;
  font-size: 1.05em;
  text-align: center;
}

.sample__each-content {
  display: flex;
  flex-direction: column;
}

.sample__doc-container {
  display: flex;
  // background-color: #30025b00;
  justify-content: center;
  margin: 1em;
}

.sample__doc-description {
  display: flex;
  flex-direction: column;
}

.sample__doc-each {
  width: 300px;
  height: 280px;
  // filter: drop-shadow(0px 0px 140px #3616d6);
}

@media (width > 768px) {

  .sample__each {
    padding: 3em;
  }

  .sample__each-content {
    flex-direction: row;
    justify-content: center;
  }

  .sample__doc-description {
    width: 40%;
    align-self: anchor-center;
    gap: 0.25em;
  }

  .sample__doc-each {
    width: 480px;
    height: 320px;
    // filter: drop-shadow(0px 0px 140px #3616d6);
  }
}