<div class="body__page">
  <app-navbar class="navbar__shared"></app-navbar>

  <main class="page page__width">

    <!-- Title section -->
    <div class="mt-3">
      <h2 class="title__mega title__mega--alined">Samples</h2>
      <p>A series of videos showcasing examples of features I implemented and others I improved in real application.</p>
    </div>

    <!-- Content section -->
    <div style="display: flex; justify-content: center; flex-wrap: wrap; height: 60vh; overflow-y: auto;">

      <!-- samples -->
      <div class="home__content--features flex-center-column" id="samples">

        <div class="flex-center mini-cards__content">

          <!-- sample webinars -->
          <div class="mini-card">
            <h2 style="font-weight: bolder;">Webinars creator / Creador de webinars</h2>

            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/1IIgDDSh6-c_Lfk7_2qsw6jbIMax27LXq/preview" width="480"
                height="320" allow="autoplay"></iframe>
            </div>
            <!-- eng -->
            <p>Front-end development for scheduling section and sending personalized invitations to webinars (meetings
              with large groups of potential clients) with Angular.</p>
            <p>Year: 2023</p>
            <div>
              <p>
                Features:
              </p>
              <ul>
                <li>
                  Implementation of internal API calls
                </li>
                <li>
                  Forms with regex to identify emails and reject (and indicate) incorrect ones
                </li>
                <li>
                  Forms with regex to identify emails and reject (and indicate) incorrect ones
                </li>
              </ul>
            </div>
            <!-- esp -->
            <p>Desarrollo front para sección para agendamiento y envío de invitaciones personalizadas a webinars
              (reuniones con grupos grandes de potenciales clientes) con Angular.</p>
            <p>Año: 2023</p>
            <div>
              <p>
                Características:
              </p>
              <ul>
                <li>
                  Implementacion de llamados a api interna
                </li>
                <li>
                  Formularios con regex para identificar emails y rechazar (e indicar) incorrectos
                </li>
                <li>
                  Previsualización mensaje
                </li>
              </ul>
            </div>
          </div>

          <!-- sample informes WIP -->
          <div class="mini-card ">
            <h2 style="font-weight: bolder;">Generador informes automatizados pdf</h2>
            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/1RabPu5KmlFgm7ux1179hyLeY9x6iXkxs/preview" width="480"
                height="320" allow="autoplay"></iframe>
            </div>
            <!-- eng -->
            <p>Frontend development for the creation and download of pdf reports with annual school performance. Tables
              and graphs (pie, bars and bloxplot) are created without libraries.</p>
            <p>Year: 2023</p>
            <div>
              <p>
                Features:
              </p>
              <ul>
                <li>
                  Implementation of internal API calls
                </li>
                <li>
                  Forms with regex to identify emails and reject (and indicate) incorrect ones
                </li>
                <li>
                  Forms with regex to identify emails and reject (and indicate) incorrect ones
                </li>
              </ul>
            </div>

            <!-- esp -->
            <p>Desarrollo frontend para la creación y descarga en pdf de informes con desempeño anual de escuelas. Se
              crean tablas y gráficos (torta, barras y bloxplot) sin librerías.
            </p>
            <p>
              Año: 2023
            </p>
            <div>
              <p>
                Características:
              </p>
              <ul>
                <li>
                  Implementacion de llamados a api interna
                </li>
                <li>
                  Formularios con regex para identificar emails y rechazar (e indicar) incorrectos
                </li>
                <li>
                  Previsualización mensaje
                </li>
              </ul>
            </div>
          </div>

          <!-- sample seguimiento escuelas-->
          <div class="mini-card">
            <h2>Seguimiento escuelas</h2>

            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/14wokzwJEVzUvxLLnWJo5QrsfdXDiHTrp/preview" width="480"
                height="320" allow="autoplay"></iframe>
            </div>
            <p></p>
            <p>Desarrollo front para la creacion de sección de seguimiento de escuelas.</p>
            <p>Año: 2021 - 2022</p>
            <div>
              <p>
                Características:
              </p>
              <ul>
                <li>
                  Implementacion de llamados a api interna
                </li>
                <li>
                  Subsección para ver tabla con listas de escuelas.
                </li>
                <li>
                  Subsección para registrar interacciones establecidas con usuarios administrativos.
                </li>
                <li>
                  Subsección para registrar interacciones establecidas con usuarios docentes.
                </li>
              </ul>
            </div>

          </div>

          <!-- sample mensajes plataforma WIP-->
          <div class="mini-card ">
            <h2 style="font-weight: bolder;">Mensajes a traves de plataforma</h2>

            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/1DANfauxgDKKJGH0paXmbeYIlQadBzyMb/preview" width="480"
                height="320" allow="autoplay"></iframe>
            </div>
            <p></p>
            <p>Desarrollo front de sección para la creación de mensajes de alerta en toda la plataforma. Variables entre tipo de
              usuario y nivel al que pertenecen.</p>
            <p>Año: 2023</p>
            <div>
              <p>
                Características:
              </p>
              <ul>
                <li>
                  Implementacion de llamados a api interna
                </li>
                <li>
                  Subsección con formulario para crear mensaje (asigna duración y perfil al que va dirigido).
                </li>
                <li>
                  Subsección para visualizar mensajes y realizar acción de desactivación.
                </li>
              </ul>
            </div>
          </div>

          <!-- sample demo users WIP-->
          <div class="mini-card ">
            <h2>Creacion usuarios demo</h2>
            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/19yAId5ds4_UJTR00w0iwU2PYOSvnPqJn/preview" width="480"
                height="320" allow="autoplay"></iframe>
            </div>
            <p></p>
            <p>Desarrollo front para la creacion de usuarios.</p>
            <div>
              <p>
                Características:
              </p>
              <ul>
                <li>
                  Implementacion de llamados a api interna
                </li>
                <li>
                  Subsección con formulario para crear usuarios.
                </li>
                <li>
                  Subsección para visualizar tabla de usuarios creados.
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </main>
  <app-footer class="footer__shared"></app-footer>
</div>