<div class="body__page">
  <app-navbar class="navbar__shared"></app-navbar>

  <main class="page page__width">

    <!-- Title section -->
    <div class="m-3">
      <h2 class="title__mega title__mega--alined">Experience</h2>
    </div>

    <!-- Content section -->
    <div style="display: flex; justify-content: center; flex-wrap: wrap; height: 60vh; overflow-y: auto;">


          <!-- samples -->
    <div class="home__content--features flex-center-column" id="samples">

      <div class="m-2">
        <h2 class="title__mega title__mega--alined">
          Experience
        </h2>
      </div>

      <div class="flex-center mini-cards__content">

        <div class="mini-card">
          <h2>element 1</h2>

          <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
            <iframe src="https://drive.google.com/file/d/1IIgDDSh6-c_Lfk7_2qsw6jbIMax27LXq/preview"
              allow="autoplay"></iframe>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
            fugit
            eligendi
            quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
            tempora
            dolore esse deleniti unde!</p>
        </div>

        <div class="mini-card ">
          <h2>element 1</h2>
          <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0); align-self: center;">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
            fugit
            eligendi
            quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
            tempora
            dolore esse deleniti unde!</p>
        </div>

        <div class="mini-card ">
          <h2>element 1</h2>
          <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0); align-self: center;">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
            fugit
            eligendi
            quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
            tempora
            dolore esse deleniti unde!</p>
        </div>

        <div class="mini-card ">
          <h2>element 1</h2>
          <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0); align-self: center;">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
            fugit
            eligendi
            quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
            tempora
            dolore esse deleniti unde!</p>
        </div>

        <div class="mini-card">
          <h2>element 1</h2>
          <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0.315); align-self: center;">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
            fugit
            eligendi
            quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
            tempora
            dolore esse deleniti unde!</p>
        </div>

        <div class="mini-card">
          <h2>element 1</h2>
          <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0.315); align-self: center;">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
            fugit
            eligendi
            quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
            tempora
            dolore esse deleniti unde!</p>
        </div>

      </div>
    </div>
    </div>
  </main>
  <app-footer class="footer__shared"></app-footer>
</div>