<div class="body__page">
  <app-navbar class="navbar__shared"></app-navbar>

  <main class="page page__width">

    <!-- Title section -->
    <div class="mt-3">
      <h2 class="title__mega title__mega--alined">Samples</h2>
      <p>A series of videos showcasing examples of features I implemented and others I improved in real application.</p>
    </div>

    <!-- Content section -->
    <div style="display: flex; justify-content: center; flex-wrap: wrap; height: 60vh; overflow-y: auto;">


      <!-- samples -->
      <div class="home__content--features flex-center-column" id="samples">

        <div class="flex-center mini-cards__content">

          <div class="mini-card">
            <h2 style="font-weight: bolder;">Creador de webinars</h2>

            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/1IIgDDSh6-c_Lfk7_2qsw6jbIMax27LXq/preview" width="480"
                height="320" allow="autoplay"></iframe>
            </div>

            <p>Front-end development for scheduling section and sending personalized invitations to webinars (meetings
              with large groups of potential clients) with Angular.</p>
            <p>Desarrollo front para sección para agendamiento y envío de invitaciones personalizadas a webinars
              (reuniones con grupos grandes de potenciales clientes) con Angular.</p>
          </div>

          <div class="mini-card ">
            <h2 style="font-weight: bolder;">Generador informes automatizados pdf</h2>

            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/1RabPu5KmlFgm7ux1179hyLeY9x6iXkxs/preview" width="480"
                height="320" allow="autoplay"></iframe>
            </div>

            <p></p>
            <p></p>
          </div>

          <div class="mini-card ">
            <h2 style="font-weight: bolder;">element 1</h2>

            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/1IIgDDSh6-c_Lfk7_2qsw6jbIMax27LXq/preview"
                allow="autoplay"></iframe>
            </div>
            <p></p>
            <p></p>
          </div>

          <div class="mini-card ">
            <h2>Usuarios demo</h2>
            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/19yAId5ds4_UJTR00w0iwU2PYOSvnPqJn/preview" width="480"
                height="320" allow="autoplay"></iframe>
            </div>
            <p></p>
            <p></p>
          </div>

          <div class="mini-card">
            <h2>element 1</h2>

            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/1IIgDDSh6-c_Lfk7_2qsw6jbIMax27LXq/preview"
                allow="autoplay"></iframe>
            </div>
            <p></p>
            <p></p>
          </div>

          <div class="mini-card">
            <h2>element 1</h2>

            <div style="background-color: rgba(48, 2, 91, 0); align-self: center;">
              <iframe src="https://drive.google.com/file/d/1IIgDDSh6-c_Lfk7_2qsw6jbIMax27LXq/preview"
                allow="autoplay"></iframe>
            </div>
            <p></p>
            <p></p>
          </div>

        </div>
      </div>
    </div>
  </main>
  <app-footer class="footer__shared"></app-footer>
</div>