<div class="navbar__body page__width">
    <div class="m-05">
        <a href="./home" class="flex-center">
            <img src="./assets/images/coffee.svg" alt="" style="height: 40px; align-self: center;">
            <p class="text__white mx-05 mt-05 w__400">home</p>
        </a>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <a class="navbar__item m-1" href="#samples">Samples</a>
        <a class="navbar__item m-1" href="./playground">Playground</a>
    </div>
</div>