.navbar__body {
    display: flex;
    justify-content: space-between;
}

.navbar__bg {
    padding: 1em 3em;
}

.navbar__item {
    color: #adadad;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9em;
}

.navbar__item:hover {
    color: #43a3fc;
}

@media (width > 768px) {
    .navbar__item {
        font-size: 1em;
    }
}