<div class="body__page">
    <app-navbar class="navbar__shared"></app-navbar>
    <main class="page page__width">
        <div class="m-3">

            <h2 class="title__mega title__mega--alined">Playground</h2>
        </div>

        <div style="display: flex; justify-content: center; flex-wrap: wrap; height: 60vh; overflow-y: auto;">

            <!-- borde animado -->
            <div class="m-2 flex-center-column">
                <div class="home__content--minibar-top">
                </div>
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="w__300 m-1 text__center">
                        animated frames / bordes animados
                    </p>
                </div>
                <div class="home__content--minibar-bottom">
                </div>
            </div>

            <!-- fondo puntos svg -->
            <div class="m-2 flex-center-column">
                <div class="flex-center bg_points--all"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="w__300 m-1 text__center">
                        dotted bg / fondo puntos
                    </p>
                </div>
            </div>

            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>

            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>

            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>

            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>
            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>
            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>
            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>
            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>
            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div> <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>
            <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div> <!-- disponible -->
            <div class="m-2 flex-center-column">
                <div class="flex-center"
                    style="align-items: center; width: 200px; height: 200px; background-color: black;">
                    <p class="available">
                        available
                    </p>
                </div>
            </div>

        </div>
    </main>
    <app-footer class="footer__shared"></app-footer>
</div>