<div class="component__body">
    <app-navbar class="navbar__shared"></app-navbar>

    <main class="home__body page__width">

        <!-- my-card -->
        <div class="home__content--my-card">

            <div class="home__content--card">

                <div class="my-card__body--image">
                    <img src="./assets/images/computer2.svg" alt="logo" class="my-card__image--props">
                </div>

                <div class="my-card__body--description">
                    <p style="color: #a2a2a2;">
                        Hi, my name is
                        <span class="text__shadow--purple weight-300">
                            Andrea Castro Castellón
                        </span>
                        and I am a
                    </p>
                    <h1 class="title__hipermega text__shadow--purple">FRONTEND DEVELOPER.</h1>
                    <p style="color: #a2a2a2;">
                        I like to work with
                        <span class="title__high" style="color: white;">
                            Angular, React & Vue
                        </span>
                    </p>
                </div>
            </div>

            <div class="home__content--about">
                <div class="home__content--about-description">
                    <h2 class="title__mega text__shadow--purple">About me</h2>
                    <p style="font-weight: 400;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, reprehenderit nihil!
                        Dolores
                        aspernatur
                        eius, vel beatae modi, dolore libero neque nisi eos quasi quos quam quod adipisci quis,
                        reiciendis
                        consequatur?
                    </p>
                    <p style="font-weight: 400;">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sit repellat officia nemo
                        alias
                        ipsam, distinctio ipsum modi veritatis consectetur laborum exercitationem quas quaerat nam
                        corrupti
                        maxime quasi magnam non?
                    </p>
                    <p style="font-weight: 400;">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sit repellat officia nemo
                        alias
                        ipsam, distinctio ipsum modi veritatis consectetur laborum exercitationem quas quaerat nam
                        corrupti
                        maxime quasi magnam non?
                    </p>
                </div>
                <div class="flex-center mx-3">
                    <img src="./assets/images/pixelme.svg" alt="logo" class="home__content--about-image"
                        style="width:100%; min-width: 150px;">
                </div>
            </div>

        </div>

        <!-- features -->
        <div class="home__content--features flex-center-column mt-3">

            <div class="m-1">
                <h2 class="title__mega text__shadow--purple">
                    Examples of features
                </h2>
            </div>

            <div class="flex-center mini-cards__content">

                <div class="mini-card box__shadow--purple bg_points--all">
                    <h2>element 1</h2>
                    <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0.315); align-self: center;">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
                        fugit
                        eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
                        tempora
                        dolore esse deleniti unde!</p>
                </div>
                <div class="mini-card box__shadow--purple">
                    <h2>element 1</h2>
                    <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0.315); align-self: center;">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
                        fugit
                        eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
                        tempora
                        dolore esse deleniti unde!</p>
                </div>
                <div class="mini-card box__shadow--purple">
                    <h2>element 1</h2>
                    <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0.315); align-self: center;">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
                        fugit
                        eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
                        tempora
                        dolore esse deleniti unde!</p>
                </div>
                <div class="mini-card box__shadow--purple">
                    <h2>element 1</h2>
                    <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0.315); align-self: center;">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
                        fugit
                        eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
                        tempora
                        dolore esse deleniti unde!</p>
                </div>
                <!-- <div class="mini-card box__shadow--purple">
                    <h2>element 1</h2>
                    <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0.315); align-self: center;">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
                        fugit
                        eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
                        tempora
                        dolore esse deleniti unde!</p>
                </div>
                <div class="mini-card box__shadow--purple">
                    <h2>element 1</h2>
                    <div style="height: 300px; width: 300px;background-color: rgba(48, 2, 91, 0.315); align-self: center;">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam
                        fugit
                        eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita
                        tempora
                        dolore esse deleniti unde!</p>
                </div> -->

            </div>

        </div>

        <!-- stack -->
        <div class="home__content--stack">

            <div class="m-1">
                <h2 class="title__mega" style="color: #ffffff;">
                    My stack
                </h2>
            </div>

            <div class="stack__body">
                <div class="stack__body--each-stack">
                    <div class="stack__body--title">
                        <p class="title__high" style="text-align: center;">
                            Frontend
                        </p>
                    </div>
                    <div class="stack__body--content">
                        <div class="stack__card">
                            <img src="./assets/images/stack/html-5-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                HTML
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/css-3-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                CSS
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/js-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                JavaScript
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/angular-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Angular
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/react-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                React
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/vue-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Vue
                            </p>
                        </div>
                    </div>
                </div>
                <div class="stack__body--each-stack">
                    <div class="stack__body--title">
                        <p class="title__high" style="text-align: center;">
                            Operative Systems
                        </p>
                    </div>
                    <div class="stack__body--content">
                        <div class="stack__card">
                            <img src="./assets/images/stack/apple-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Apple
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/microsoft-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Microsoft
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/ubuntu-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Ubuntu
                            </p>
                        </div>

                    </div>
                </div>

                <div class="stack__body--each-stack">
                    <div class="stack__body--title">
                        <p class="title__high" style="text-align: center;">
                            Tools
                        </p>
                    </div>
                    <div class="stack__body--content">
                        <div class="stack__card">
                            <img src="./assets/images/stack/vs-code-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                vscode
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/node-js-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Node
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/docker-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Docker
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/git-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Git
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/jira-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Jira
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/trello-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Trello
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/figma-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Figma
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/ms-excel-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Excel
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/ms-powerpoint-svgrepo-com.svg" alt=""
                                class="stack__card--img">
                            <p class="stack__card--text">
                                Powerpoint
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/Inkscape_logo.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Inkscape
                            </p>
                        </div>
                        <!-- <div class="stack__card">
                            <img src="./assets/images/stack/php-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                PHP
                            </p>
                        </div>
                        <div class="stack__card">
                            <img src="./assets/images/stack/python-svgrepo-com.svg" alt="" class="stack__card--img">
                            <p class="stack__card--text">
                                Python
                            </p>
                        </div> -->
                    </div>
                </div>

            </div>

        </div>


    </main>

    <app-footer class="footer__shared"></app-footer>
</div>