// 320px minium
.component__body {
    height: 100dvh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.home__body {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2em;
}

.my-card__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
}

.my-card__body--image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    background-color: black;
    border-radius: 100%;
}

.my-card__image--props {
    width: 200px;
}

.my-card__body--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1.5em;
}

.mini-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-cards__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.mini-card {
    margin: 1em;
    padding: 2em 3em;
    border: 1px solid #9900ff;
    cursor: pointer;
    width: 90%;
}

.home__details {
    display: flex;
    flex-wrap: wrap;
}

.mini-card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 2em;
    background-color: #43a3fc;
}

.home__triple {
    display: flex;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

@media (width > 480px) {
    .mini-card {
        width: 70%;
    }
}


@media (width > 768px) {

    .my-card__body {
        flex-wrap: nowrap;
        width: 100%;
    }

    .my-card__image--size {
        width: 300px;
    }

    .my-card__body--description {
        text-align: start;
        width: 60%;
    }

    .mini-card {
        width: 45%;
    }

    .home__details {
        display: flex;
        flex-wrap: nowrap;
    }

    .home__triple {
        flex-wrap: nowrap;
    }
}


@media (width > 1920px) {
    .mini-card {
        width: 30%;
    }
}