<div class="body__page">
  <app-navbar class="navbar__shared"></app-navbar>

  <main class="page page__width">

    <!-- my-card -->
    <div class="home__content--my-card">

      <div class="home__content--card">

        <div class="my-card__body--image">
          <img src="./assets/images/photos/IMG_3651.jpg" alt="logo" class="home__content--about-image">
        </div>

        <div class="my-card__body--description">

          <p style="color: #d4d2d2;">
            Hi, I'm
            <span class="text__shadow--purple weight-300">
              Andrea Castro Castellón
            </span>
            and I'm a
            <span class="title__hipermega text__shadow--purple" style="word-wrap: normal;">WEB&nbsp;DEVELOPER.</span>
          </p>

          <p style="color: #d4d2d2;">
            I enjoy working with <span class="title__high" style="color: white;">JavaScript</span> and its frameworks
            such as <span class="title__high" style="color: white;">
              Angular, React, and Vue,
            </span> but I am eager to explore new technologies and enhance my backend development skills.

          </p>
        </div>
      </div>

      <div class="home__content--about">
        <div class="home__content--about-description">
          <h2 class="title__mega text__shadow--purple">About me</h2>
          <p style="font-weight: 400;">
            I explored different career paths, but when I discovered the joy of creating apps, I knew I wanted to pursue
            a new career in this field.
          </p>
          <p style="font-weight: 400;">
            As a web developer, I have experience in creating, maintaining, and optimizing websites and web
            applications, with Angular as my primary framework. My work involves writing code, implementing designs, and
            ensuring that websites function seamlessly across different devices and browsers.
          </p>
          <p style="font-weight: 400;">
            I enjoy solving problems and building things. I like working on puzzles, reading books, and solving
            crosswords. These activities particularly enhance my ability to analyze, debug, and improve legacy code.
          </p>
        </div>
        <div class="flex-center">
          <img src="./assets/images/computer2.svg" alt="logo" class="my-card__image--props">
        </div>
      </div>

    </div>

    <div class="home__content--samples">

      <h2 class="title__mega text__shadow--purple" style="margin: 1em;">
        I invite you to see
      </h2>

      <div class="flex-center mini-cards__content">

        <div class="mini-card" (click)="goToSamples()">
          <p>samples of real features</p>
        </div>

        <div class="mini-card" (click)="goToProjects()">
          <p>full-projects (WIP)</p>
        </div>

      </div>

    </div>

    <!-- stack -->
    <div class="home__content--stack">

      <div class="m-2">
        <h2 class="title__mega title__mega--alined text__shadow--purple"
          style="text-align: center; box-shadow: -1px 15em 16em 3em #3900f3cc; margin-bottom: 0.5em;">
          My stack
        </h2>
        <hr style="height: 1px; border:1px; background: linear-gradient(45deg, #6316ffd9, #1313ed, #6316ffd9);">
      </div>
      <div class="stack__body">

        <div class="stack__body--each-stack">
          <div class="stack__body--title">
            <p class="title__high" style="text-align: center;">
              Frontend
            </p>
          </div>
          <div class="stack__body--content">
            <div class="flex">
              <div class="stack__card">
                <img src="./assets/images/stack/html-5-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  HTML
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/css-3-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  CSS
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/js-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  JavaScript
                </p>
              </div>
            </div>
            <div class="flex">
              <div class="stack__card">
                <img src="./assets/images/stack/angular-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Angular
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/react-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  React
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/vue-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Vue
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="stack__body--each-stack">
          <div class="stack__body--title">
            <p class="title__high" style="text-align: center;">
              Operative Systems
            </p>
          </div>
          <div class="stack__body--content">
            <div class="stack__card">
              <img src="./assets/images/stack/apple-svgrepo-com.svg" alt="" class="stack__card--img">
              <p class="stack__card--text">
                Apple
              </p>
            </div>
            <div class="stack__card">
              <img src="./assets/images/stack/microsoft-svgrepo-com.svg" alt="" class="stack__card--img">
              <p class="stack__card--text">
                Microsoft
              </p>
            </div>
            <div class="stack__card">
              <img src="./assets/images/stack/ubuntu-svgrepo-com.svg" alt="" class="stack__card--img">
              <p class="stack__card--text">
                Ubuntu
              </p>
            </div>

          </div>
        </div>

        <div class="stack__body--each-stack">
          <div class="stack__body--title">
            <p class="title__high" style="text-align: center;">
              Tools
            </p>
          </div>
          <div class="stack__body--content">
            <div class="flex">
              <div class="stack__card">
                <img src="./assets/images/stack/vs-code-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  VScode
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/azurepipelines-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Azure pipelines
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/api-svgrepo-com.svg" alt="" class="stack__card--img"
                  style="filter: drop-shadow(0px 0px 0px #ffff);;">
                <p class="stack__card--text">
                  REST Apis
                </p>
              </div>
            </div>
            <div class="flex">
              <div class="stack__card">
                <img src="./assets/images/stack/node-js-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Node
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/docker-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Docker
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/git-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Git
                </p>
              </div>
            </div>
            <div class="flex">
              <div class="stack__card">
                <img src="./assets/images/stack/jira-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Jira
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/trello-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Trello
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/figma-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Figma
                </p>
              </div>
            </div>
            <div class="flex">
              <div class="stack__card">
                <img src="./assets/images/stack/ms-excel-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Excel
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/ms-powerpoint-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Powerpoint
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/Inkscape_logo.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Inkscape
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/python-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Python
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="stack__body--each-stack">
          <div class="stack__body--title">
            <p class="title__high" style="text-align: center;">
              Backend
            </p>
          </div>
          <div class="stack__body--content">
            <div class="flex">
              <div class="stack__card">
                <img src="./assets/images/stack/express-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Express
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/mysql-logo-svgrepo-com.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  MySQL
                </p>
              </div>
              <div class="stack__card">
                <img src="./assets/images/stack/railway_logo.svg" alt="" class="stack__card--img">
                <p class="stack__card--text">
                  Railway
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </main>

  <app-footer class="footer__shared"></app-footer>
</div>