<div class="component__body">
    <app-navbar class="navbar__shared"></app-navbar>

    <main class="home__body page__width">

        <div class="my-card__body">

            <div class="my-card__body--image">
                <img src="./assets/images/logo120x120x10.svg" alt="logo" class="my-card__image--props">
            </div>

            <div class="my-card__body--description">
                <h1 style="margin: 0;">FRONTEND DEVELOPER</h1>
                <h3 style="margin: 0;">Angular | React | Vue</h3>
                <h5 style="margin: 0;">(I 🩷 Javascript)</h5>

                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis accusantium voluptatem.
                        Culpa qui rem iure velit at, doloremque consequuntur magni non. Odio quis illum eveniet quam
                        maxime. In, et.</p>
                </div>
            </div>

        </div>

        <div
            style="padding: 3em; background-color: #9900ff; color: rgb(255, 255, 255); font-weight: bold; margin-bottom: 2em;">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, reprehenderit nihil! Dolores
                aspernatur
                eius, vel beatae modi, dolore libero neque nisi eos quasi quos quam quod adipisci quis, reiciendis
                consequatur?
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sit repellat officia nemo alias
                ipsam, distinctio ipsum modi veritatis consectetur laborum exercitationem quas quaerat nam corrupti
                maxime quasi magnam non?
            </p>
        </div>

        <!-- <hr style="border: 1px solid #43a3fc; width: 100%;"> -->

        <div style="margin: 0 2em;">
            <h1 style="color: #9900ff;">title</h1>
            sashkjdskdsjhdkjh dsFjkh shfs jdkshdfjkjsdfhdf dsh kjds dskjdshdjksh dskjhdsk hdskfh skdhf skdjhf sdkjhf
            skdjhfisdhfksjdh nvksdjh fkjsdhf kehf kuehfi eruhdf skjdhsdofc hsd
        </div>

        <div class="mini-cards">
            <div class="mini-cards__body">

                <div class="mini-card">
                    <h2>element 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam fugit eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita tempora
                        dolore esse deleniti unde!</p>
                </div>
                <div class="mini-card">
                    <h2>element 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam fugit eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita tempora
                        dolore esse deleniti unde!</p>
                </div>
                <div class="mini-card">
                    <h2>element 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam fugit eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita tempora
                        dolore esse deleniti unde!</p>
                </div>
                <div class="mini-card">
                    <h2>element 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam fugit eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita tempora
                        dolore esse deleniti unde!</p>
                </div>
                <div class="mini-card">
                    <h2>element 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam fugit eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita tempora
                        dolore esse deleniti unde!</p>
                </div>
                <div class="mini-card">
                    <h2>element 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique ullam fugit eligendi
                        quo sunt, temporibus magnam neque error pariatur quod cumque aliquid quidem expedita tempora
                        dolore esse deleniti unde!</p>
                </div>


            </div>
        </div>

        <div style="margin: 0 2em;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam, ex provident suscipit
            adipisci a eveniet praesentium quas, sequi mollitia explicabo vero! Culpa commodi quam deserunt excepturi
            voluptatibus dolores quos.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, tenetur ducimus nulla sequi culpa maiores
            distinctio! Unde sint molestias veniam reiciendis, ipsam quisquam praesentium deserunt expedita minus nam
        </div>

        <div class="home__details" style="background-color: #9900ff; margin: 0 2em;">
            <div style="padding: 3em;">
                <h2 style="">title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam, ex provident suscipit
                    adipisci a eveniet praesentium quas, sequi mollitia explicabo vero! Culpa commodi quam deserunt
                    excepturi
                    voluptatibus dolores quos.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, tenetur ducimus nulla sequi culpa
                    maiores
                    distinctio! Unde sint molestias veniam reiciendis, ipsam quisquam praesentium deserunt expedita
                    minus
                    nam
                    eos voluptatem?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam consequatur
                    possimus
                    atque
                    et magni. Voluptatem laudantium cumque commodi harum ex ea non facilis quo ipsum aliquam, velit
                    saepe
                    vitae
                    reprehenderit.
                </p>
            </div>

            <div style="padding: 3em;">
                <h2 style="">title 2</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam, ex provident suscipit
                    adipisci a eveniet praesentium quas, sequi mollitia explicabo vero! Culpa commodi quam deserunt
                    excepturi
                    voluptatibus dolores quos.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, tenetur ducimus nulla sequi culpa
                    maiores
                    distinctio! Unde sint molestias veniam reiciendis, ipsam quisquam praesentium deserunt expedita
                    minus
                    nam
                    eos voluptatem?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam consequatur
                    possimus
                    atque
                    et magni. Voluptatem laudantium cumque commodi harum ex ea non facilis quo ipsum aliquam, velit
                    saepe
                    vitae
                    reprehenderit.
                </p>
            </div>
        </div>

        <div style="margin: 0 2em;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam, ex provident suscipit
            adipisci a eveniet praesentium quas, sequi mollitia explicabo vero! Culpa commodi quam deserunt excepturi
            voluptatibus dolores quos.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, tenetur ducimus nulla sequi culpa maiores
            distinctio! Unde sint molestias veniam reiciendis, ipsam quisquam praesentium deserunt expedita minus nam
        </div>

        <div class="home__triple">

            <div class="mini-card-img">

                <div>
                    <img src="./assets/images/logo120x120x10.svg" alt="" style="width:225px;">
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure adipisci aperiam, officia delectus
                    maiores corporis distinctio earum minus minima ad quisquam mollitia aspernatur suscipit, quis amet
                    voluptas accusantium illo odit?
                </p>

            </div>

            <div class="mini-card-img">
                <div>
                    <img src="./assets/images/logo120x120x10.svg" alt="" style="width:225px;">
                </div>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae quibusdam officiis qui rerum delectus
                    quos impedit voluptatum quas illo? Quod accusantium quam architecto optio, eligendi consequuntur
                    dicta
                    quisquam vero inventore!
                </p>
            </div>

            <div class="mini-card-img">
                <div>
                    <img src="./assets/images/logo120x120x10.svg" alt="" style="width:225px;">
                </div>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt quasi perspiciatis debitis
                    incidunt
                    culpa in sapiente impedit quae maxime soluta, laborum reprehenderit voluptatibus quidem corporis
                    nobis
                    rerum rem. Soluta, eos?
                </p>


            </div>
        </div>

    </main>

    <app-footer class="footer__shared"></app-footer>
</div>