<div class="footer" style="margin: 1em;">
    <div class="flex-center m-05" style="align-items: center;">
        <div>
            <p style="text-align: center; font-weight: 600;">
                Find me:
            </p>
        </div>
        <div class="flex-center mx-2">
            <div class="stack__card">
                <img src="./assets/images/stack/linkedin-svgrepo-com.svg" alt="" class="footer__icon">
                <!-- <p class="stack__card--text">
                    linkedin
                </p> -->
            </div>
            <div class="stack__card">
                <img src="./assets/images/stack/github-svgrepo-com.svg" alt="" class="footer__icon">
                <!-- <p class="stack__card--text">
                    Github
                </p> -->
            </div>
        </div>
    </div>
    <p>
        Made with
        <img src="./assets/images/favicon.ico" alt="angular_logo" class="mx-05" style="height: 1em;">
        by Andrea Castro
    </p>
</div>