<div class="body__page">
  <app-navbar class="navbar__shared"></app-navbar>

  <main class="page page__width">

    <!-- Title section -->
    <div class="mt-3 mb-2">
      <h2 class="title__mega title__mega--alined">Challenging projects</h2>
      <p style="margin: 1em;">A selection of practice web applications created during my frontend and fullstack studies.</p>
    </div>

    <!-- Content section -->
    <div class="projects_body" style="">

      <!-- example 1 -->
      <div class="m-2 flex-center-column projects_body--each">

        <div class="" style="margin: 1em 0; display: flex; flex-direction: column; gap: 1em;">
          <div>
            <span style="font-weight: bold;">
              Title:
            </span>
            El faro de la IA
          </div>
        </div>

        <div class="flex-center m-0" style="align-items: center; ">
          <div>
            <iframe src="https://elfaroia.netlify.app" frameborder="0" style="width: 300px; height: 480px;"></iframe>
          </div>
        </div>

        <div class="" style="margin: 1em 0;">
          <div>
            <span style="font-weight: bold;">
              Desc:
            </span>
            Online blog about AI, where users can navigate through sections. Logged users can access to more content.
            Admin users can create and edit content and users.
          </div>
          <div>
            <p style="font-weight: bold;">
              Technologies
            </p>
            <div
              style="display: flex; flex-wrap: wrap; gap: 1em; justify-content: center; margin: 0.5em; font-weight: bold;">
              <div style="font-weight: bold; color: #6d52f5;">Vanilla JS</div>
              <div style="font-weight: bold; color: #6d52f5;">MySQL</div>
              <div style="font-weight: bold; color: #6d52f5;">Express</div>
            </div>
          </div>

          <div>
            <span style="font-weight: bold;">Year: </span>
            2024
          </div>

          <a href="https://elfaroia.netlify.app" style="margin: 0 1em; text-align: center;">
            <div
              style="width: 100%;background-color: rgb(118, 44, 255); padding: 0.5em 0.75em; border-radius: 1em; color: white; font-weight: bold;">
              Go to app
            </div>
          </a>
        </div>

      </div>

      <!-- example 2 -->
      <div class="m-2 flex-center-column projects_body--each">

        <div class="" style="margin: 1em 0; display: flex; flex-direction: column; gap: 1em;">
          <div>
            <span style="font-weight: bold;">
              Title:
            </span>
            Vanilla JS form (validations)
          </div>
        </div>

        <div class="flex-center m-0" style="align-items: center; ">
          <div>
            <iframe src="https://pro402s1andreacastro.netlify.app/" frameborder="0"
              style="width: 300px; height: 480px; background-color: white;"></iframe>
          </div>
        </div>

        <div class="" style="margin: 1em 0;">
          <div>
            <span style="font-weight: bold;">
              Desc:
            </span>
            Vanilla JS form with validations. No library use. Created for training JS and learning how to create use
            tests cases in testing course.
          </div>

          <div>
            <p style="font-weight: bold;">
              Technologies
            </p>
            <div
              style="display: flex; flex-wrap: wrap; gap: 1em; justify-content: center; margin: 0.5em; font-weight: bold;">
              <div style="font-weight: bold; color: #6d52f5;">Vanilla JS</div>
              <div style="font-weight: bold; color: #6d52f5;">HTML</div>
              <div style="font-weight: bold; color: #6d52f5;">CSS</div>
            </div>
          </div>

          <div>
            <span style="font-weight: bold;">Year: </span>
            2024
          </div>

          <a href="https://teateapot-storevue.netlify.app/" style="margin: 0 1em; text-align: center;">
            <div
              style="width: 100%;background-color: rgb(118, 44, 255); padding: 0.5em 0.75em; border-radius: 1em; color: white; font-weight: bold;">
              Go to site
            </div>
          </a>
        </div>

      </div>

      <!-- example 0 -->
      <div class="m-2 flex-center-column projects_body--each">

        <div class="" style="margin: 1em 0; display: flex; flex-direction: column; gap: 1em;">
          <div>
            <span style="font-weight: bold;">
              Title:
            </span>
            LATETE
          </div>

        </div>

        <div class="flex-center m-0" style="align-items: center; ">
          <div>
            <iframe src="https://teateapot-storevue.netlify.app/" frameborder="0"
              style="width: 300px; height: 480px;"></iframe>
          </div>
        </div>

        <div class="" style="margin: 1em 0;">

          <div>
            <span style="font-weight: bold;">
              Desc:
            </span>
            Store developed in Vue to buy cups and related products. All user can add new products and add to cart.
          </div>
          <div>
            <p style="font-weight: bold;">
              Technologies
            </p>
            <div
              style="display: flex; flex-wrap: wrap; gap: 1em; justify-content: center; margin: 0.5em; font-weight: bold;">
              <div style="font-weight: bold; color: #6d52f5;">Vue</div>
              <div style="font-weight: bold; color: #6d52f5;">Vuex</div>
              <div style="font-weight: bold; color: #6d52f5;">CSS</div>
            </div>
          </div>

          <div>
            <span style="font-weight: bold;">Year: </span>
            2021
          </div>

          <a href="https://teateapot-storevue.netlify.app/" style="margin: 0 1em; text-align: center;">
            <div
              style="width: 100%;background-color: rgb(118, 44, 255); padding: 0.5em 0.75em; border-radius: 1em; color: white; font-weight: bold;">
              Go to app
            </div>
          </a>
        </div>

      </div>



    </div>
  </main>
  <app-footer class="footer__shared"></app-footer>
</div>