p,
li {
  margin: 0.25em;
  color: #dadada;
}

.projects_body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 60vh;
  overflow-y: auto;
}

.projects_body--each {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (width > 768px) {
  .projects_body--each {
    width: 40%;
  }
}